<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MassageDialog from "./components/menus/MassageDialog.vue";
</script>

<template>
  <!-- {{ $route.meta }} -->
  <!-- <MainLayout></MainLayout> -->
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  >
  </component>
  <LoadingDialog></LoadingDialog>
  <MassageDialog></MassageDialog>
</template>

<style scoped></style>
